apiVersion: v1
kind: Service
metadata:
  name: kodecamp-devops-bootcamp-service
spec:
  selector:
    app: kodecamp-devops-bootcamp-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP
